@{

    Layout = null;

}


<!DOCTYPE html>



<html>

<head>

    <meta name="viewport" content="width=device-width" />

    <title>Show All Data</title>

    <style>
        .tableData {
            border-left: solid 1px #D8C3C3;
            border-top: solid 1px #D8C3C3;
        }

            .tableData tr {
            }

            .tableData td, .tableData th {
                border-right: solid 1px #D8C3C3;
                border-bottom: solid 1px #D8C3C3;
                text-align: left;
                padding: 5px;
            }

            .tableData td {
            }

            .tableData th {
                background-color: #FAFAFA;
                padding: 7px 5px;
                border-bottom-color: #9C9C9C;
            }

        .odd {
            background-color: #f3f3f3;
        }

        .even {
            background-color: #ffffff;
        }
    </style>



</head>

<body ng-app="UserApp">

    <div ng-controller="UserController">

        <table class="tableData">

            <tr>

                <th>ID</th>

                <th>Account Name</th>

                <th>Display Name</th>

                <th>Email</th>

                <th>Designation</th>

                <th>Department</th>

                <th>Created On</th>

                <th>Actions</th>

            </tr>

            <tr ng-repeat="e in record" ng-class-even="'even'" ng-class-odd="'odd'">

                <td>{{e.Id}}</td>

                <td>{{e.AccountName}}</td>

                <td>{{e.DisplayName}}</td>

                <td>{{e.Email}}</td>

                <td>{{e.Designation}}</td>

                <td>{{e.Department}}</td>

                <td>{{e.Created}}</td>

                <td><a href="/UserInfo/Update_record?Id={{e.Id}}">Update</a></td>

                <td><a ng-click="deleterecord(e.Id)">Delete</a></td>

            </tr>

        </table>

    </div>

    <script src="~/Scripts/angular.min.js"></script>

    <script src="~/Scripts/AngularController/HomeAngularJs.js"></script>


</body>

</html>
